<footer class="main-footer">
    Copyright &copy; @DateTime.Now.ToString("yyyy") <a href="/">MCF Technical Test Application</a>.
    All rights reserved.
    Template by <a href="http://adminlte.io">AdminLTE.io</a>.
    <div class="float-right d-none d-sm-inline-block">
        <b>MCF</b> Test
    </div>
</footer>